* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html,
body {
	overflow: hidden;
}

body {
	height: 100vh;
	display: grid;
	background: #97a7b3;
	color: #fff;
	font-family: monospace;
	grid-template-columns: 1fr 1fr;
	grid-auto-flow: column;


}


#overview {
	background-color: black;
	height: 100vh;
	width: 50vw;
	padding: 2rem 0;

}

#overview>h1 {
	text-align: center;
}

#overview>ul {
	/* padding: 0 1rem; */
	/* list-style-type: none; */
}

#overview-iframe {
	width: 100%;
	height: 100%;
	border: none;
	color: #fff;
	overflow: auto;
	padding: 2rem 0;
	overflow-wrap: break-word;
}

#mainPage {
	border: 15px solid black;
	border-bottom: 60px solid black;
	height: 870px;
	width: 395px;
	border-radius: 3rem;
	background-color: #1b1924;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	margin: auto;
	align-items: center;
}

#mainPage span {
	text-align: center;
}

#imgLogotype {
	width: 90px;
}

h1 {
	font-size: 1.5rem;
	margin-bottom: 0.5rem;
}

#headerPage {
	height: 177px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: end;
	gap: 0.5rem;
}

#textWindow {
	min-height: 192px;
	width: 317px;
}

#warningMessage {
	color: red;
	display: none;
	padding: auto;
}

#textArea {
	height: 118px;
	width: 100%;
	border-radius: 0.8rem;
	resize: none;
	border-style: none;
	padding: 0.5rem;
	background: #444059;
	color: white;
}

textarea::placeholder {
	color: #cec6c6;
}

textarea:focus::placeholder {
	opacity: 0;
}

#publishMessageBtn {
	height: 61px;
	width: 317px;
	color: #fff;
	background-color: #28a9f1;
	margin: 0.5rem 0;
	border-radius: 0.8rem;
	border-style: none;
	font-size: 1.5rem;
	font-weight: 600;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

#publishMessageBtn:hover {
	background-color: #60bff5;
	transform: translateY(3px);
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

h2 {
	margin: 0.5rem;
}

#chatMessages {
	height: 270px;
	width: 317px;
	background-color: #44405956;
	border-radius: 1rem;
	overflow-wrap: break-word;
	overflow: auto;
}

.appendedMessage {
	background-color: #095a88;
	/* outline: 1px solid #fff; */
	border-radius: 1rem;
	margin: 0.5rem 0.5rem;
	padding: 1rem 1.5rem;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
	/* Allows line-break inside the JS function of yourNicknameAndTitle() */
	white-space: pre-line;
}

.appendedMessage:hover {
	background-color: #28a9f1;
	transform: translateY(3px);
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

#inputContainer {
	text-align: center;
}

.inputField {
	font-family: monospace;
	border-style: none;
	margin: 0.5rem 0 0 0;
	padding: 0.3rem 0rem;
	padding-left: 0.6rem;
	border-radius: 0.3rem;
	background: #444059;
	color: #fff;
}

#inputFieldYourNickname {
	text-transform: capitalize;
}

#inputFieldYourNickname:focus::placeholder {
	opacity: 0;
}

input {
	text-transform: capitalize;
}